h3::before {
    /* position: absolute; */
    /* top: -4px; */
    /* left: -1rem; */
    right: 1em;
    color: gray;
    content: "## ";
    /* font-weight: bold; */
    /* font-size: 1rem; */
}
.content h3{
    text-decoration: none;
}
